<co:magic-headers>
    <article>
        <header>
            <co:header>Some h1</co:header>
            <p class="tagline"> Content </p>
        </header>
        <co:magic-headers>
            <section>
                <co:header>Some h2</co:header>
            </section>
            <p>Some more content</p>
            <co:magic-headers>
                <div class="foo bar">
                    <co:header>Some h3</co:header>
                </div>
                <p>Some more content</p>
            </co:magic-headers>
        </co:magic-headers>
        <co:magic-headers>
            <section>
                <co:header>Again some h2</co:header>
            </section>
            <p>Some more content</p>
        </co:magic-headers>
    </article>
</co:magic-headers>