<co:card>
    Welcome to the <strong>best card</strong>
    <th:block co:slot="heading"><span lang="de">Großartige</span> Card</th:block>
    <span co:slot="heading">More Heading</span>
    <th:block co:slot="footer">This is the <co:badge>footer</co:badge>!</th:block>
</co:card>
<co:card href="#foo">
    <span co:slot="heading">Another co:card with a Link as Header</span>
    Content baby!
</co:card>
<co:card>
    <span co:slot="heading">Völker der Welt</span>
    <span co:slot="footer">Schaut auf diese Card</span>
    Cardo Number <del>five</del>three
</co:card>